@model IEnumerable<AppMovie.Models.Movie>
@{
    ViewData["Title"] = "Pelis";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a class="botonCrear" asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer)
            </th>
            <th>Alquilada</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.SectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender.GenderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
            <td>
                @(item.estaAlquilada?"si":"no")
            </td>
            <td>
                <a class="botonEditar margin" asp-action="Edit" asp-route-id="@item.MovieID">Editar</a>
                <a class="btn botonEliminar margin" onclick = "eliminarPelicula(@item.MovieID);">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
