@model AppMovie.Models.Partner

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Partner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerDirection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerDirection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PartnerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
