@model IEnumerable<AppMovie.Models.Partner>
@{
    ViewData["Title"] = "Socios";
}
@{
    Layout = "_layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
<p class="Shadow">
    <a class="botonCrear" asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PartnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                <a class="botonEditar" asp-action="Edit" asp-route-id="@item.PartnerID">Editar</a>
                <a class="btn botonEliminar" onclick = "eliminarSocios(@item.PartnerID)">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
